<app-menu></app-menu>
  <div class="row fondo-partida">
    <main class="col-md-10">
      <div class="row">
        <div class="col-md-3" style="background-color: blueviolet;">

        </div>
        <div class="col-md-9 p-5">
          <div class="pb-3 pt-4">
            <a><button type="button" class="btn btn-light">Crear Partida</button></a>
          </div>
          <div class="p-2 fondo-tabla">
            <div class="card border-0 tabla">
              <div class="card-header border-0 p-2 py-3">
                <div class="row p-0 m-0">
                  <div class="col-3">ID</div>
                  <div class="col-3">Anfitrión</div>
                  <div class="col-3">Participantes</div>
                  <div class="col-3">Estado</div>
                </div>
              </div>
              <div class="border-0 p-0 m-0">
                <ul class="border-0 row p-2 mt-2 m-0 lista rounded-1" *ngFor="let partida of partidas">
                  <li class="col-3 list-group-item border-0">{{partida.id}}</li>
                  <li class="col-3 list-group-item border-0">{{partida.anfitrion}}</li>
                  <li class="col-3 list-group-item border-0">{{partida.participantes}}</li>
                  <li class="col-3 list-group-item border-0">{{partida.estado}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <aside class="col-md-2 pt-0 ps-0">
      <app-sidebar></app-sidebar>
    </aside>
  </div>
<app-footer></app-footer>

