.fondo-partida{
  background-image: url(../../../../assets/imgs/fondo-inicio.jpg);
  main{
    .fondo-tabla{
      background-color: var(--colorTransparente);
      .tabla{
        background-color: transparent;
        .card-header{
          background-color: var(--colorAzul);
          color: var(--colorDorado);
        }
        .lista{
          background-color: var(--colorGris);
          li{
            padding: 3px 12px;
          }
        }
      }
    }
  }
  aside{
    background-color: #00102ad4;
    max-height: 100vh;
    height: 640px;
  }
}
