<app-menu></app-menu>
<div class="row fondo-inicio">
  <main class="col-md-10 p-5">
    <div class="row inicio ms-5 me-4 py-5">

      <div class="col-md-3 pestanias nav ps-2 nav-pills ms-5 py-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">

        <button type="button" class="btn mb-4 nav-link active" id="v-pills-presentacion-tab" data-bs-toggle="pill" data-bs-target="#v-pills-presentacion"
                role="tab" aria-controls="v-pills-presentacion" aria-selected="true">PRESENTACIÓN</button>

        <button type="button" class="btn mb-4 nav-link" id="v-pills-historia-tab" data-bs-toggle="pill" data-bs-target="#v-pills-historia"
                role="tab" aria-controls="v-pills-historia" aria-selected="false">HISTORIA</button>

        <button type="button" class="btn mb-4 nav-link" id="v-pills-jugabilidad-tab" data-bs-toggle="pill" data-bs-target="#v-pills-jugabilidad"
        role="tab" aria-controls="v-pills-jugabilidad" aria-selected="false">TRABAJO</button>

      </div>

      <div class="col-md-8 info-inicio tab-content p-5" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-presentacion" role="tabpanel" aria-labelledby="v-pills-presentacion-tab" tabindex="0">
          <h6>COMIENZA LA</h6>
          <h1>AVENTURA</h1>
          <hr class="hr-text mb-3 mt-3">
          <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique rem cumque
            accusantium quis dicta suscipit culpa ullam quos enim voluptas, quaerat iure corrupti
            delectus quasi ab recusandae sit impedit accusamus!
          </P>
        </div>
        <div class="tab-pane fade" id="v-pills-historia" role="tabpanel" aria-labelledby="v-pills-historia-tab" tabindex="0">
          <h6>PERIODO</h6>
          <h1>SENGOKU</h1>
          <hr class="hr-text mb-3 mt-3">
          <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique rem cumque
            accusantium quis dicta suscipit culpa ullam quos enim voluptas, quaerat iure corrupti
            delectus quasi ab recusandae sit impedit accusamus!
          </P>
        </div>
        <div class="tab-pane fade" id="v-pills-jugabilidad" role="tabpanel" aria-labelledby="v-pills-jugabilidad-tab" tabindex="0">
          <h6>RANGOS Y</h6>
          <h1>TAREAS</h1>
          <hr class="hr-text mb-3 mt-3">
          <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique rem cumque
            accusantium quis dicta suscipit culpa ullam quos enim voluptas, quaerat iure corrupti
            delectus quasi ab recusandae sit impedit accusamus!
          </P>
        </div>
      </div>
    </div>
  </main>
  <aside class="col-md-2 pt-0 ps-0">
    <app-sidebar></app-sidebar>
  </aside>
</div>
<app-footer></app-footer>


