.fondo-partida{
  background-image: url(../../../../../assets/imgs/fondo-inicio.jpg);
  main{
    button{
      width: 136px;
    }
  }
  aside{
    background-color: #00102ad4;
    max-height: 100vh;
    height: 640px;
  }
}
