.cabecera{
  background-color: var(--colorAzul);
  height: 54px;
}
.pie{
  background-color: var(--colorAzul);
  height: 77px;
}
main{
  .contenedor-chat{
    background-color: var(--colorTransparente);
  }
}

