<div class="recuadro"></div>
<div class="row fondo-partida">
  <main class="col-md-9">
    <div class="row">
      <div class="col-md-3 contenedor-chat pe-0">
        <div class="pt-3">
          <app-chat></app-chat>
        </div>
      </div>
      <div class="col-md-9 p-5 carta-jugadores">
        temporizador
        pregutnas
      </div>
    </div>
  </main>
  <aside class="col-md-3 pt-0 ps-0">
    <div>
      algo
    </div>
    <div class="p-2 fondo-tabla rounded-1">
      <div class="card border-0 tabla">
        <div class="card-header border-0 p-2 py-3">
          <div class="row p-0 m-0 me-3 text-center">
            <div class="col-5">Jugador</div>
            <div class="col-2"><i class="fa-solid fa-key"></i></div>
            <div class="col-2"><i class="fa-solid fa-circle-xmark"></i></div>
            <div class="col-3">Estado</div>
          </div>
        </div>
        <div class="border-0 p-0 m-0 lista-tabla">
          <ul class="border-0 row mt-2 me-2 m-0 p-1 lista rounded-1 d-flex align-items-center text-center" >
            <li class="col-5 list-group-item border-0 align-items-start">
              <img class="rounded-1 me-1" src="../../../../../assets/imgs/logo.png">
              nombre</li>
            <li class="col-2 list-group-item border-0">1</li>
            <li class="col-2 list-group-item border-0">2</li>
            <li class="col-3 list-group-item border-0"><button type="button"  class="btn rounded"></button></li>
          </ul>
        </div>
      </div>
    </div>
  </aside>
</div>
<div class="recuadro fixed-bottom"></div>
