<div class="menu-pc">
  <ul class="navbar text-decoration-none d-flex justify-content-center m-0 p-0">
    <li class="nav-item me-5">
      <a class="nav-link px-2"  href="./jugador/inicio">INICIO</a>
    </li>
    <li class="nav-item me-5">
      <a class="nav-link px-2" href="./jugador/historial">HISTORIAL</a>
    </li>
    <li class="nav-item boton">
      <a href="./jugador/partida"><button type="button" class="btn btn-circle btn-xl"><b>JUGAR</b></button></a>
    </li>
    <li class="nav-item ms-5">
      <a class="nav-link px-2" routerLink="jugador/ranking">RANKING</a>
    </li>
    <li class="nav-item ms-5">
      <a class="nav-link px-2" routerLink="jugador/cosas">COSAS</a>
    </li>
  </ul>
</div>
