div{
  background-image: url(https://i.pinimg.com/originals/17/9b/8b/179b8bcd896f76bb696f0b7988e7571d.jpg);
  aside{
    background-color: var(--colorAzul);
    max-height: 100vh;
    height: 640px;
  }
}

