<app-menu></app-menu>
<div class="row fondo-inicio">
  <main class="col-md-10 p-5">
    <div class="row inicio ms-5 me-4 py-5">

      <div class="col-md-3 pestanias nav ps-2 nav-pills ms-5 py-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">

        <button type="button" class="btn mb-4 nav-link active" id="v-pills-presentacion-tab" data-bs-toggle="pill" data-bs-target="#v-pills-presentacion"
                role="tab" aria-controls="v-pills-presentacion" aria-selected="true">PRESENTACIÓN</button>

        <button type="button" class="btn mb-4 nav-link" id="v-pills-historia-tab" data-bs-toggle="pill" data-bs-target="#v-pills-historia"
                role="tab" aria-controls="v-pills-historia" aria-selected="false">HISTORIA</button>

        <button type="button" class="btn mb-4 nav-link" id="v-pills-jugabilidad-tab" data-bs-toggle="pill" data-bs-target="#v-pills-jugabilidad"
        role="tab" aria-controls="v-pills-jugabilidad" aria-selected="false">JUGABILIDAD</button>

      </div>

      <div class="col-md-8 info-inicio tab-content p-5" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-presentacion" role="tabpanel" aria-labelledby="v-pills-presentacion-tab" tabindex="0">
          <h6>COMIENZA LA</h6>
          <h1>AVENTURA</h1>
          <hr class="hr-text mb-3 mt-3">
          <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique rem cumque
            accusantium quis dicta suscipit culpa ullam quos enim voluptas, quaerat iure corrupti
            delectus quasi ab recusandae sit impedit accusamus!
          </P>
        </div>
        <div class="tab-pane fade" id="v-pills-historia" role="tabpanel" aria-labelledby="v-pills-historia-tab" tabindex="0">
          <h6>PERIODO</h6>
          <h1>SENGOKU</h1>
          <hr class="hr-text mb-3 mt-3">
          <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique rem cumque
            accusantium quis dicta suscipit culpa ullam quos enim voluptas, quaerat iure corrupti
            delectus quasi ab recusandae sit impedit accusamus!
          </P>
        </div>
        <div class="tab-pane fade" id="v-pills-jugabilidad" role="tabpanel" aria-labelledby="v-pills-jugabilidad-tab" tabindex="0">
          <h6>COMO</h6>
          <h1>JUGAR</h1>
          <hr class="hr-text mb-3 mt-3">
          <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique rem cumque
            accusantium quis dicta suscipit culpa ullam quos enim voluptas, quaerat iure corrupti
            delectus quasi ab recusandae sit impedit accusamus!
          </P>
        </div>
      </div>
    </div>
  </main>
  <aside class="col-md-2 pt-4 ps-0">
    <app-sidebar></app-sidebar>
  </aside>
</div>
<app-footer></app-footer>

<!-- <div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
    <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false" disabled>Disabled</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
  </div>
</div> -->

