<div class="menu-pc">
  <ul class="navbar text-decoration-none d-flex justify-content-center m-0 p-0">
    <li class="nav-item me-5">
      <a class="nav-link px-2" href="./administrador/inicio">INICIO</a>
    </li>
    <li class="nav-item me-5">
      <a class="nav-link px-2" outerLinkActive="active" routerLink="jugador/historial">JUGADORES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2" outerLinkActive="active" routerLink="jugador/ranking">PARTIDAS</a>
    </li>
    <li class="nav-item ms-5">
      <a class="nav-link px-2" href="./administrador/enigmas">ENIGMAS</a>
    </li>
  </ul>
</div>
