@font-face {
  font-family: font-texto;
  src: url(./assets/tipografia/Ledger-Regular.ttf) format("woff2");
}

:root {

    //----------------------COLORES----------------------//

    --colorRojo:#A1011B;
    --colorGris:#ECEDED;
    --colorAzul:#00102A;
    --colorDorado:#AE8C44; //#D2AD76
    --colorBlanco:#FFFFFF;

    //--------------------TIPOGRAFÍA----------------------//

    --TipoTexto: font-texto;

    //-----------------TAMAÑO-TIPOGRAFÍA------------------//

    --TamTitulos: 65px;
    --TamTexto:14px;
    --TamError:13px;

    //------------------PESO-TIPOGRAFÍA-------------------//

}
body{
  font-family: var(--TipoTexto);
}

