<div class="d-flex justify-content-center pb-4 pt-5 text-center">
  <div class="carta m-2 p-2" *ngFor="let jugador of jugadores">
    <div class="p-2">
      <img src="{{jugador.avatar}}">
    </div>
    <p>{{jugador.nombre}}</p>
  </div>
</div>
<div class="d-flex justify-content-center pt-4 p-2">
  <button type="button" class="btn btn-light me-2" (click)=cancelarPartida()>Cancelar</button>
  <button [disabled] ="comenzar" type="button" class="btn btn-light ms-2"  (click)=empezarPartida()>Jugar</button>
</div>
