<app-menu></app-menu>
  <div class="row fondo-usuario">
    <main class="col-md-10 p-5 py-3 pe-4">
      <div class="row m-3 mt-5 mb-0">
        <div class="me-1 p-2 fondo-transparente col">
          <hr class="hr-text-bot m-0 p-1 mb-2" data-content="PERFIL">
          <form #regForm="ngForm" [formGroup]="usuarioForm" (ngSubmit)="modificarUsuario()">

            <div class="text-start px-5 mb-4">
              <label class="form-label">Nombre</label>

              <input type="text"
              value="{{nombre}}"
              formControlName="nombre"
              [(ngModel)]="nombre"
              [ngClass]="{'is-invalid' : form['nombre'].invalid && form['nombre'].dirty}"
              class="form-control"/>

              <div *ngIf="form['nombre'].invalid" class="invalid-feedback">
                <div *ngIf="form['nombre'].errors?.['required']" class="error alert alert-danger mt-2">Escribe un nombre para el usuario</div>
              </div>
            </div>

            <div class="text-start px-5">

              <label class="form-label">Avatar</label>

              <input
              class="form-control"
              type="file" id="formFile"
              (change)="onFileSelected($event)"/>
            </div>


            <div class="pt-1 m-2 text-center">
              <button class="btn btn-dark text-center" [disabled]="usuarioForm.invalid" type="submit">CONFIRMAR</button>
            </div>

          </form>
        </div>

        <div class="ms-1 p-2 fondo-transparente col" *ngIf="cambiarPasswd == -1">
          <hr class="hr-text-bot m-0 p-1 mb-2" data-content="CONTRASEÑA">
          <div class="d-flex justify-content-center align-items-center mt-5">
            <button class="btn btn-dark text-center" (click)="abrirPasswd()">CAMBIAR CONTRASEÑA</button>
          </div>
        </div>


        <div class="ms-1 p-2 fondo-transparente col" *ngIf="cambiarPasswd == 1">
          <hr class="hr-text-bot m-0 p-1 mb-2" data-content="CONTRASEÑA">
          <form #regForm="ngForm" [formGroup]="passwdForm" (ngSubmit)="modificarPassword()">

            <ng-container formGroupName="passwords">
              <div class="form-outline mb-4 px-5 text-start">
                <label class="form-label">Contraseña</label>

                <input type="password"
                    formControlName="passwd"
                    class="form-control"
                    [ngClass]="{'is-invalid' : passwords.get('passwd')?.invalid && passwords.get('passwd')?.dirty}" />

                <div *ngIf="passwords.get('passwd')?.invalid" class="invalid-feedback">
                  <div *ngIf="passwords.get('passwd')?.errors?.['required']" class="error alert alert-danger mt-2">La contraseña es obligatoria</div>
                </div>
              </div>

              <div class="form-outline px-5 text-start">
                <label class="form-label" for="form2Example2">Confirmar Contraseña</label>

                <input type="password"
                  formControlName="passwdConf"
                  class="form-control"
                  [ngClass]="{'is-invalid' : passwords.get('passwdConf')?.invalid && passwords.get('passwdConf')?.dirty}" />

                <div *ngIf="passwords.get('passwdConf')?.invalid" class="invalid-feedback">
                  <div *ngIf="passwords.get('passwdConf')?.errors?.['required']" class="error alert alert-danger mt-2 mb-0">Repetir la contraseña es obligatorio</div>
                </div>
              </div>

              <div *ngIf="passwords.errors?.['confirmarPasswd']" class="mx-5 text-start error alert alert-danger mt-2">Las contraseñas deben de coincidir</div>
            </ng-container>

            <div class="pt-1 m-2 text-center">
              <button class="btn btn-dark text-center me-1" (click)="cancelarPasswd()">CANCELAR</button>
              <button class="btn btn-dark text-center ms-1" [disabled]="passwdForm.invalid" type="submit">CONFIRMAR</button>
            </div>

          </form>
        </div>
      </div>

      <div class="fondo-transparente p-2 m-3 mt-2 row" *ngIf="perfilDeshabilitar == -1 || perfilDeshabilitar == 1">
        <hr class="hr-text-bot m-0 p-1 mb-2" data-content="DESHABILITAR CUENTA">
        <div class="me-2 p-3 col rounded-1" style="background-color: var(--colorAzul);">
          <p style="font-size: 14px; color: var(--colorGris);" class="mb-0"><b><span style="color:var(--colorRojo)">IMPORTANTE : </span></b> Una vez confirmada la deshabilitación de la cuenta no se podrá acceder a esta cuenta al iniciar sesión.
          Solamente un administrador podrá volver a habilitarla. Tenga esto en cuenta a la hora de ejecutar esta acción.
          <br><br>
          Para deshabilitar la cuenta debe escribir el código de confirmación que le aparecerá en pantalla</p>
        </div>

        <div class="ms-2 p-2 col" *ngIf="perfilDeshabilitar == -1">
          <div class="d-flex justify-content-center align-items-center mt-5">
            <button class="btn btn-dark text-center" (click)="abrirDeshabilitar()">DESHABILITAR CUENTA</button>
          </div>
        </div>

        <div class="ms-2 p-2 col" *ngIf="perfilDeshabilitar == 1">
          <div class="text-center">
            <p><span style="color:var(--colorDorado)">Código : </span><b style="color:var(--colorRojo)">{{codigo}}</b></p>
            <input  [(ngModel)]="input_codigo"
            placeholder="Código de confirmación"
            (keyup.enter)="confirmarDeshabilitar()"
            type="text"
            class="rounded-1 border-0 p-1"
            style="width: 50%;">
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4 text-center">
            <button class="btn btn-dark text-center me-1" (click)="confirmarDeshabilitar()">CONFIRMAR</button>
            <button class="btn btn-dark text-center ms-1" (click)="cancelarDeshabilitar()">CANCELAR</button>
          </div>
        </div>
      </div>

      <div class="position-absolute top-50 start-50 translate-middle mensaje card shadow-lg p-3 mb-5 bg-body rounded" *ngIf="cambioPerfilCorrecto == 1 || cambioPerfilCorrecto == 2" style="width: 400px;">
        <div *ngIf="cambioPerfilCorrecto == 2" class="card-body">
          <span><i class="fa-solid fa-triangle-exclamation me-2" style="color:var(--colorRojo)"></i>
            Error en la modificación de perfil</span>
        </div>
        <div *ngIf="cambioPerfilCorrecto == 1" class="card-body text-center">
          <span  style="display: block;"><i class="fa-solid fa-circle-check me-2"></i>
          Modificación de perfil con éxito</span>
          <div class="d-flex justify-content-center">
            <button (click)="abrirInicio()" class="btn btn-light mt-3 p-2 px-5 me-1">Inicio</button>
            <button (click)="cerrar()" class="btn btn-light mt-3 p-2 px-5 ms-1">Cerrar</button>
          </div>
        </div>
      </div>

      <div class="position-absolute top-50 start-50 translate-middle mensaje card shadow-lg p-3 mb-5 bg-body rounded" *ngIf="cambioPasswdCorrecto == 1 || cambioPasswdCorrecto == 2" style="width: 400px;">
        <div *ngIf="cambioPasswdCorrecto == 2" class="card-body">
          <span><i class="fa-solid fa-triangle-exclamation me-2" style="color:var(--colorRojo)"></i>
            Error en la modificación de contraseña</span>
        </div>
        <div *ngIf="cambioPasswdCorrecto == 1" class="card-body text-center">
          <span  style="display: block;"><i class="fa-solid fa-circle-check me-2"></i>
          Modificación de contraseña con éxito</span>
          <div class="d-flex justify-content-center">
            <button (click)="abrirInicio()" class="btn btn-light mt-3 p-2 px-5 me-1">Inicio</button>
            <button (click)="cerrar()" class="btn btn-light mt-3 p-2 px-5 ms-1">Cerrar</button>
          </div>
        </div>
      </div>

      <div class="position-absolute top-50 start-50 translate-middle mensaje card shadow-lg p-3 mb-5 bg-body rounded" *ngIf="cambioHabilitar == 1 || cambioHabilitar == 2" style="width: 400px;">
        <div *ngIf="cambioHabilitar == 2" class="card-body">
          <span><i class="fa-solid fa-triangle-exclamation me-2" style="color:var(--colorRojo)"></i>
            Error en deshabilitar cuenta</span>
        </div>
        <div *ngIf="cambioHabilitar == 1" class="card-body text-center">
          <span  style="display: block;"><i class="fa-solid fa-circle-check me-2"></i>
          Éxito en deshabilitar cuenta. Volveras a la pantalla de login</span>
          <div class="d-flex justify-content-center">
            <button (click)="abrirLogin()" class="btn btn-light mt-3 p-2 px-5 me-1">Login</button>
          </div>
        </div>
      </div>

    </main>
    <aside class="col-md-2 pt-0 ps-0">
      <app-sidebar></app-sidebar>
    </aside>
  </div>
<app-footer></app-footer>

