/* .fondo-tabla{
  background-color: var(--colorTransparente);
  .tabla{
    background-color: transparent;
    .card-header{
      background-color: var(--colorAzul);
      color: var(--colorDorado);
    }
    .lista{
      background-color: var(--colorGris);
      li{
        padding: 3px 12px;
      }
    }
  }
} */
